/* flash_messages */
:root {
    --DEBUGbg: #D4EDDA;
    --DEBUGtxt: #52565A;
    --INFObg: #D1ECF1;
    --INFOtxt: #2C649F;
    --SUCCESSbg: #A4F6A7;
    --SUCCESStxt: #368741;
    --WARNINGbg: #FFF3CD;
    --WARNINGtxt: #856404;
    --ERRORbg: #F8D7DA;
    --ERRORtxt: #721C24;
}





.flash {
    position: absolute;
    top: 3em;
    right: 20px;
    width: 250px;
    z-index: 25;
}



.fm {
    border-radius: 13px;
    padding: 2px 14px;
    margin: 1em 0;
    border-top-right-radius: 0px;
    position: relative;
    transition: all .3s ease;    
}

.deleteMsg {
    width: 25px;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 30;
}

.deleteMsg > img {
    max-width: 100%;
}

.debug {
    background: var(--DEBUGbg);
    color: var(--DEBUGtxt);
    border: var(--DEBUGtxt);
}

.info {
    background: var(--INFObg);
    color: var(--INFOtxt);
    border: var(--INFOtxt);
}

.success {
    background: var(--SUCCESSbg);
    color: var(--SUCCESStxt);
    border: var(--SUCCESStxt);
}

.warning {
    background: var(--WARNINGbg);
    color: var(--WARNINGtxt);
    border: var(--WARNINGtxt);
}

.error {
    background: var(--ERRORbg);
    color: var(--ERRORtxt);
    border: var(--ERRORtxt);
}

@media screen and (max-width: 500px) {
    .flash {
        margin: auto;
        max-width: 80%;
        left: 0;
        right: 0;
    }
    .fm {
        text-align: center;
    }
}
