<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- essential files -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weeb/style/base.css' %}">

    <!-- specific files -->
    {% block specific %}
        {% load static %}
    {% endblock %}
    
    <title> {% block title %} Weeb-Ex {% endblock %} </title>
</head>
<body>

    {% block nonContent %}

    {% endblock %}

    <div class="container">


        <nav>
            <div id="logo">
                {% load static %}
                <a href="{% url 'weeb:index' %}"><img src="{% static 'weeb/img/logo.png' %}" alt="logo"></a>
            </div>

            <div class="navBtn">
                {% if user.is_authenticated %}
                <div id="newPostBtn">
                    <a href="{% url 'weeb:uploadPost' %}"><img src="{% static 'weeb/img/new post.png' %}" alt="new post"></a>
                </div>
                <div id="profileBtn">
                    <a href="{% url 'weeb:profile' user %}"><img src="{% static 'weeb/img/avatar.png' %}" alt="avatar"></a>
                </div>
                <div id="logoutBtn">
                    <a href="{% url 'logout' %}"><img src="{% static 'weeb/img/logout.png' %}" alt="logOut"></a>
                </div>
                {% else %}
                <div id="loginBtn">
                     <a href="{% url 'login' %}"><img src="{% static 'weeb/img/signin.png' %}" alt="logIn"></a>
                </div>
                <div id="registerBtn">
                     <a href="{% url 'weeb:register' %}"><img src="{% static 'weeb/img/register.png' %}" alt="signUp"></a>
                </div>
                {% endif %}
            </div>
        </nav>

        <div class="content">

            {% block content %}
            {% endblock %}

        </div>
    </div>

</body>
</html>