{% extends 'weeb/base.html' %}


<!--    TODO: check whether user has liked the post or not and according to that, choose between Like1 and Like2    -->

    <!-- specific files -->
    {% block specific %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'weeb/style/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'weeb/style/newPost.css' %}">
        <script defer src="{% static 'weeb/js/newPost.js' %}"></script>

    <!-- testing script -->
<!--    <script defer src="{% static 'weeb/js/createPost.js' %}"></script>-->
    {% endblock %}


    {% block title %}
        home
    {% endblock %}


    {% block nonContent %}
        {% include 'weeb/newPost.html' %}
    {% endblock %}
    


        <!-- content -->
    {% block content %}
            
            <div id="postWall">
            {% if user %}
            {% for post in postObj %}
                <!--    post    -->
                <div class="post">
                    <a href="#userProfileLink"><h3 class="user">{{ post.user }}</h3></a>
                    {% load static %}
                    <a href="{% url 'weeb:postDetail' post.pk %}"><div class="img"><img src="{{ post.img.url }}" alt="user pic"></div></a>
                    <p class="caption">
                        {{ post.caption }}
                    </p>
                    <div class="interactBtn">
                        <div><a href="#like"><img src="{% static 'weeb/img/like1.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                        <div><a href="#postDetailed/comment"><img src="{% static 'weeb/img/comment.png' %}" alt="comment button"></a><span>{{ post.Comment_set.count }}</span></div>
                    </div>
                </div>

            {% endfor %}
            {% endif %}
            </div>

            <div class="devWrapper">
                <div id="DEV">
                    <h1> DEV </h1>
    
                    <p>Hii, I'm <b>Karan</b>. A CompSci Student doing webdev for fun.</p>
    
                    <div class="externalLinks">
                        <div><a target="_blank" href="https://twitter.com/karansh491">
                            <img src="https://img.icons8.com/cute-clipart/64/000000/twitter.png"/>
                        </a></div>
                        <div><a target="_blank" href="https://github.com/rootz491">
                            <img src="https://img.icons8.com/cute-clipart/64/000000/github.png"/>
                        </a></div>
                        <div><a target="_blank" href="https://instagram.com/karansh491">
                            <img src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"/>
                        </a></div>
                        <div><a target="_blank" href="#discord">
                            <img src="https://img.icons8.com/cute-clipart/64/000000/discord-logo.png"/>
                        </a></div>
                    </div>
                </div>
            </div>
    {% endblock %}