    <!-- place it out of content in template -->
    <div class="newPost" hidden>
        <div class="postHeader">
            <h1>Post</h1>
            {% load static %}
            <img id="exitPost" src="{% static 'weeb/img/exit.png' %}" alt="exit">
        </div>

        <form id="post" action="{% url 'weeb:uploadPost' user.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="imgInput">
                <label for="imgFile">Image</label>
                <input name="img" id="imgFile" type="file" required>
            </div>
            <div class="captionInput">
                <label for="caption">Caption</label>
                <input placeholder="enter some captions" id="caption" name="caption" type="text">
            </div>
            <div class="submitWrapper">
                <input id="submitBtn" type="submit" value="post">
            </div>
        </form>

        <span>
            {{ form.errors }}
            {{ form.non_field_errors }}
        </span>

        <div id="rules">
            <h3><img src="https://img.icons8.com/emoji/18/000000/warning-emoji.png"/> Note</h3>
            <ul>
                <li>Size of image must be less that 2MB.</li>
                <li>Caption can't have more that 50 words.</li>
            </ul>
        </div>
    </div>