{% extends 'weeb/base.html' %}




{% block specific %}
        {% load static %}
    <!-- specific files -->
    <link rel="stylesheet" href="{% static 'weeb/style/postDetailed.css' %}">
{% endblock %}


{% block title %} post @{{ post.user.username }} {% endblock %}


<!--    content  =     obj: post   -->

        {% block content %}
            
            <div class="postWrapper">

                <div class="img">
                    <img src="{{ post.img.url }}" alt="post img">
                </div>

                <div class="postInfo">
                    <div class="options">
                        <h1 class="user"><a href="{% url 'weeb:profile' post.user %}">{{ post.user.username }}</a></h1>

                        <!-- only if user is owner of post -->
                        {% if post.user == user %}
                        <form method="POST" action="{% url 'weeb:postDelete' post.pk %}">
                            {% csrf_token %}
                            {% load static %}
                            <button class="deleteBtn" type="submit"><img src="{% static 'weeb/img/delete.png' %}" alt="delete btn"></button>
                        </form>
                        {% endif %}

                    </div>

                    <!--    caption     -->
                    <p>     {{ post.caption }}    </p>

                    <div class="interactBtn">
                        {% load static %}
                        {% if user in post.likes.all %}
                        <div><a href="{% url 'weeb:postLike' post.pk %}"><img src="{% static 'weeb/img/like2.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                        {% else %}
                        <div><a href="{% url 'weeb:postLike' post.pk %}"><img src="{% static 'weeb/img/like1.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                        {% endif %}
                        <div><a href="#inputComment"><img src="{% static 'weeb/img/comment.png' %}" alt="comment button"></a><span>{{ post.post_comment.count }}</span></div>
                    </div>
                </div>

                <div class="commentSection">

                    <h1>comments</h1>

                    <div class="commentWrapper">
                        <!--  no comment warning  -->
                        {% if post.post_comment.count == 0 %}
                        <div class="comment">
                            <h1>Be the First one to comment.</h1>
                        </div>
                        {% else %}

                            <!--    comments     -->
                            {% for comment in post.post_comment.all %}
                            <div class="comment">
                                <div class="commentHeader">
                                    <h4 class="user"><a href="{% url 'weeb:profile' comment.user %}"><span>{{ comment.user.username }}</span></a></h4>
                                    <div>
                                         {% if comment.user == user %}
                                        <form action="{% url 'weeb:commentDelete' postPk=post.pk commentPk=comment.pk %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit"><img src="{% static 'weeb/img/delete.png' %}" alt="delete comment"></button>
                                        </form>
                                        {% endif %}
                                        <span>{{ comment.createdAt.date }}</span>
                                    </div>
                                </div>

                                <p class="content">    {{ comment.comment }}     </p>
                            </div>
                            {% endfor %}

                        {% endif %}
                    </div>

                    <!-- comment input box -->
                    <div class="commentInput">
                        <form action="{% url 'weeb:postComment' post.pk %}" method="POST">
                            {% csrf_token %}
                            <input placeholder="comment here" id="inputComment" type="text" name="comment">
                            <input class="sendBtn" type="submit" value="send">
                        </form>
                    </div>

                </div>

            </div>

        {% endblock %}