{% extends 'weeb/base.html' %}




    {% block specific %}
        {% load static %}
    <!-- specific files -->
    <link rel="stylesheet" href="{% static 'weeb/style/postDetailed.css' %}">
    {% endblock %}


    {% block title %} post @{{ post.user }} {% endblock %}


<!--    content  =     obj: post   -->

        {% block content %}
            
            <div class="postWrapper">

                <div class="img">
                    <img src="{{ post.img.url }}" alt="post img">
                </div>

                <div class="postInfo">
                    <div class="options">
                        <h1 class="user">{{ post.user }}</h1>

                        <!-- only if user is owner of post -->
                        {% if post.user == user %}
                        <form method="POST" action="#deletePost">
                            {% csrf_token %}
                            {% load static %}
                            <button class="deleteBtn" type="submit"><img src="{% static 'weeb/img/delete.png' %}" alt="delete btn"></button>
                        </form>
                        {% endif %}

                    </div>

                    <!--    caption     -->
                    <p>     {{ post.caption }}    </p>

                    <div class="interactBtn">
                        {% load static %}
                        <div><a href="#like"><img src="{% static 'weeb/img/like2.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                        <div><a href="#inputComment"><img src="{% static 'weeb/img/comment.png' %}" alt="comment button"></a><span>{{ post.Comment_set.count }}</span></div>
                    </div>
                </div>

                <div class="commentSection">
                    
                    <h1>comments</h1>

                    <div class="commentWrapper">
                        <!--  no comment warning  -->
                        {% if post.Comment_set.count == 0 %}
                        <div class="comment">
                            <h1>Be the First one to comment.</h1>
                        </div>
                        {% else %}

                            {% for comment in post.Comment_set.all %}
                            <!--    comments     -->
                            <div class="comment">
                                <h2 class="user">{{ comment.user }}</h2>
                                <p class="content">    {{ comment.comment }}     </p>
                            </div>
                            {% endfor %}

                        {% endif %}
                    </div>

                    <!-- comment input box -->
                    <div class="commentInput">
                        <form action="#postComment" method="POST">
                            {% csrf_token %}
                            <input placeholder="comment here" id="inputComment" type="text" name="comment" id="commentInput">
                            <input class="sendBtn" type="submit" value="send">
                        </form>
                    </div>

                </div>

            </div>

        {% endblock %}