{% extends 'weeb/base.html' %}


{% block specific %}
    <!-- specific files -->
    <link rel="stylesheet" href="style/profile.css">
    <link rel="stylesheet" href="style/newPost.css">
    <script defer src="js/newPost.js"></script>
{% endblock %}


{% block title %}
    Weeb-Ex
{% endblock %}


{% block nonContent %}
    {% extends 'weeb/newpost.html' %}
{% endblock %}



{% block content %}

            <div class="profileWrapper">

                <div class="profileCard">
                    <h1>profile.username</h1>
                    <p>profile.email</p>
                    <p>{{ profile.fullName }}</p>
                    <h3>twitter handle: <span><a href="https://www.twitter.com/{{ profile.twitterHandle }}/">{{ profile.twitterHandle }}</a></span></h3>
                    {% if profile.owner == user %}
                    <form action="#deleteUser" method="POST">
                         {% csrf_token %}
                        <input id="deketeBtn" type="submit" value="delete user">
                    </form>
                    {% endif %}
                </div>

            </div>

            <div class="postWrapper">

            {% if user.post.count == 0 %}
<!--            no post message     -->
                <h1 class="noPostMsg">Please post photos to get some display here.</h1>
            {% else %}
<!--            actual post     -->
                {% for post in user.post_set.all %}
                <div><a href="#postDetailed">
                    {% load static %}
                    <div class="img"><img src="{% static 'weeb/media/me.jpg' %}" alt="post thumbnail"></div>
                    </a>
                    <div class="interactBtn">
                        <div><a href="#like"><img src="{% static 'weeb/img/like2.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                        <div><a href="#postDetailed/comment"><img src="{% static 'weeb/img/comment.png' %}" alt="comment button"></a><span>3</span></div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            </div>

{% endblock %}

