{% extends 'weeb/base.html' %}


{% block specific %}
    <!-- specific files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'weeb/style/profile.css' %}">
    <link rel="stylesheet" href="{% static 'weeb/style/newPost.css' %}">
    <script defer src="{% static 'weeb/js/deleteProfile.js' %}"></script>
{% endblock %}


{% block title %}
    @{{ profile.username }}
{% endblock %}


{% block nonContent %}
    <!-- dialog box for delete profile -->

    <div class="deleteProfile" hidden>
            <a id="closeBtn">
                <img src="https://img.icons8.com/flat_round/50/000000/delete-sign.png"/>
            </a>

            <h1>Are you sure?</h1>
            <h2>Once you <span>confirmed</span> then there's no going back!</h2>
            <form id="deleteProfileForm" action="#delete_profile" method="post">
                <div class="password_wrapper">
                    <label for="password"></label>
                    <input type="password" name="password" required placeholder="enter your password">
                </div>
                <div class="submit_wrapper">
                    <input type="submit" value="delete account">
                </div>
            </form>
    </div>
{% endblock %}


{% block content %}

            <div class="profileWrapper">

                <div class="profileCard">
                    <h1>{{ profile.username }}</h1>
                    {% if profile.user == user %}
                       <p><small>{{ user.email }}</small></p>
                    {% endif %}
                    <p>{{ profile.fullName }}</p>
                    <p style="color: var(--greyTxt);">{{ profile.bio }}</p>
                    <p>Posts: <span>{{ profile.user.post_set.count }}</span></p>
                    <p>Joined on: <span>{{ profile.joinedOn.date }}</span></p>
                    <!-- links & actions -->
                    <div class="userBtn">
                        <a target="_blank" href="https://www.twitter.com/{{ profile.twitterHandle }}/"><img src="https://img.icons8.com/dotty/80/000000/twitter.png"/></a>
                        <a href="{% url 'weeb:profileEdit' profile.username %}"><img src="https://img.icons8.com/fluent-systems-regular/48/000000/edit-user.png"/></a>
                        <a id="deleteProfile" href="#delete profile"><img src="https://img.icons8.com/pastel-glyph/64/000000/remove-user-male.png"/></a>
                    </div>
                </div>

            </div>

            <div class="postWrapper">

            {% if profile.user.post_set.count == 0 %}
<!--            no post message     -->
                <h1 class="noPostMsg">Please post photos to get them displayed here.</h1>
            {% else %}
<!--            actual post     -->
                {% for post in profile.user.post_set.all %}
                <div><a href="{% url 'weeb:postDetail' post.pk %}">
                    {% load static %}
                    <div class="img"><img src="{{ post.img.url }}" alt="post thumbnail"></div>
                    </a>
                    <div class="interactBtn">
                        {% if user in post.likes.all %}
                        <div><a href="{% url 'weeb:postLike' post.pk %}"><img src="{% static 'weeb/img/like2.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                        {% else %}
                        <div><a href="{% url 'weeb:postLike' post.pk %}"><img src="{% static 'weeb/img/like1.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                        {% endif %}
                        <div><a href="#postDetailed/comment"><img src="{% static 'weeb/img/comment.png' %}" alt="comment button"></a><span>{{ post.post_comment.count }}</span></div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            </div>

{% endblock %}

