{% extends 'weeb/base.html' %}


    <!-- specific files -->
{% block specific %}
        {% load static %}
    <link rel="stylesheet" href="{% static 'weeb/style/search.css'%}">
    <script defer src="{% static 'weeb/js/search_show_hide.js'%}"></script>
{% endblock %}


{% block title %} weeb-Ex | search {% endblock %}




{% block content %}
            <!-- search section -->
            <div class="searchSection">
                <!-- search input box -->
                <div class="searchBox">
                    <form action="">
                         {% csrf_token %}
                        <input type="search"  class="search" name="search">
                        <button type="submit">search</button>
                    </form>
                </div>
                <!-- search results -->
                <div class="searchResult">
                    <!-- list of users -->
                    <section id="users">
                        <div class="Header">
                            <h1>users</h1>
                            <a class="down"><img src="https://img.icons8.com/ios-filled/50/000000/down-squared--v2.png"/></a>
                        </div>
                        <!-- query items -->
                        <ul>

                            <!--    users   -->

                                {% for user in obj.userObj %}
                                <a target="_blank" src="{% url 'weeb:profile' user.username  %}">
                                    <div class="avatar"><img src="{% static 'weeb/img/avatar.png' %}" alt="user avatar"></div>
                                    <p>{{ user.fullName }}</p>
                                    <span class="user">{{ user.username }}</span>
                                </a>
                                {% endfor %}

                        </ul>
                    </section>
                    <!-- list of posts -->
                    <section id="posts">
                        <div class="Header">
                            <h1>posts</h1>
                            <a class="down"><img src="https://img.icons8.com/ios-filled/50/000000/down-squared--v2.png"/></a>
                        </div>
                        <ul>

                                <!--    post    -->

                                {% for post in obj.postObj %}
                                    <div class="post">
                                        <a href="{% url 'weeb:profile' post.user %}"><h3 class="user">{{ post.user.username }}</h3></a>
                                        {% load static %}
                                        <a href="{% url 'weeb:postDetail' post.pk %}"><div class="img"><img src="{{ post.img.url }}" alt="user pic"></div></a>
                                        <p class="caption">
                                            {{ post.caption|truncatechars:30 }}
                                        </p>
                                        <div class="interactBtn">
                                            {% if user in post.likes.all %}
                                            <div><a href="{% url 'weeb:postLike' post.pk %}"><img src="{% static 'weeb/img/like2.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                                            {% else %}
                                            <div><a href="{% url 'weeb:postLike' post.pk %}"><img src="{% static 'weeb/img/like1.png' %}" alt="like button"></a><span>{{ post.likes.count }}</span></div>
                                            {% endif %}
                                            <div><a href="{% url 'weeb:postDetail' post.pk %}"><img src="{% static 'weeb/img/comment.png' %}" alt="comment button"></a><span>{{ post.post_comment.count }}</span></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            
                        </ul>
                    </section>
                </div>
            </div>

{% endblock %}